.Alert{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    height: 30px;
    width: 300px;
    border-radius: 10px;
}

.alert-error{
    background-color: red;
}
.alert-success{
    background-color: rgb(8, 202, 8);
}