@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.App{
    font-family: 'Overpass', sans-serif;    
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}