@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}


.account-page{
    font-family: 'Overpass', sans-serif;
    margin: -20px 0 0 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(56, 56, 56, 0.999)
}
.login-wrapper h2{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.login-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.login-box{
    height: 200px;
    margin: 100px 20px 0 20px;
    padding: 20px;
    border-radius: 5px;
}
.login-box label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 5px;
}
.login-box label input{
    font-family: 'Overpass', sans-serif;
    height: 35px;
    width: 250px;
    border: 0;
    color: white;
    background-color: transparent;
}

.login-box label input:focus{
    outline: none;
}

.username-wrapper{
    border-bottom: 2px solid lightgray;
}
.account-icon{
    position: relative;
    top: 1px;
    width: 15px;
    height: 15px;
    color: white;
}
.login-button{
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: 0;
    background-color: red;
    color: white;
}
.register-button{
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: red;
}