.registration-page{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.999)
}

.registration-page form{
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.registration-page form label{
    display: flex;
    flex-direction: column;
    color: white;
}
.registration-page form label input{
    height: 30px;
}
.registration-page form button{
    align-self: center;
    height: 40px;
    width: 80px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 50px;
}